<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load the properties file -->
	<context:property-placeholder location="classpath:sports.properties"/>
	<!-- Define dependencies here -->
	<bean id="myFortune" class="com.sameer.iocdemo.HappyFortuneService"></bean>
	<bean id="randomFortune" class="com.sameer.iocdemo.RandomFortuneService"></bean>
	
    <!-- Define your beans here -->
    
    <!-- 
    <bean id="myCoach" class="com.sameer.iocdemo.TrackCoach"></bean>
     -->
     
    <!-- 
    <bean id="myCoach" class="com.sameer.iocdemo.BaseballCoach">
    	<constructor-arg ref="myFortune"></constructor-arg>
    </bean>
     -->
     
     <bean id="myCoach" class="com.sameer.iocdemo.TrackCoach">
    	<constructor-arg ref="myFortune"></constructor-arg>
    </bean>
     
     <!-- Default scope is singleton -->
    <bean id="myCricketCoach" class="com.sameer.iocdemo.CricketCoach">
    	<!-- Setup setter injection -->
    	<property name="fortuneService" ref="randomFortune"></property>
    	<!-- Inject literal values -->
    	<property name="emailAddress" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>
    </bean>

	
    
</beans>





